
body {
  background: #000;
  max-width: 100%;
}

canvas {
  display: block;
  margin: 0 auto;
  background-image: url("1.jpg");
  background-repeat: no-repeat;
  background-size:cover;


}

a {
  text-decoration: none;
  color: white;
}
span {
  color: white;
}
